#login-form {
  box-shadow: 0px 4px 64px -8px rgba(188, 154, 154, 0.25);
  background: white;
  border-radius: 30px;
  width: 470px;
  display: flex;
  flex-direction: column;
  gap: 37px;

  padding: 30px;

  .title {
    font-size: 36px;
    font-weight: 700;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;

    gap: 20px;

    input {
      font-size: 24px;
      padding: 10px 30px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.4);
    }
  }
  .form-submit {
    align-self: center;
    font-size: 24px;
    padding: 15px 50px;
    letter-spacing: -0.96px;

    border-radius: 10px;
    background: #414af2;
    border: none;
    color: white;
  }
}

.login-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .nonacc {
    font-weight: 200;
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
  }
}

/* register.jsx */

.split-div {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  input {
    width: 40%;
  }
}

.choose-role {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  .role {
    justify-content: center;
    display: flex;
    width: 50%;

    input {
      margin-right: 10px;
    }

    p {
      font-size: 24px;
    }

    padding: 10px;
    border-radius: 10px;
  }

  .role:hover {
    background: #00000010;
    transition: 0.4s all ease-in-out;
  }
}

@media screen and (max-width: 850px) {
  #login-form {
    width: 80vw;
  }
}
