.events-org {
  .title {
    width: 80vw;
    margin: 0 auto;

    .palka {
      margin: 20px auto;
      width: 80%;
      height: 2px;
      background: #0000000c;
    }

    .title1 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 24px;
      }

      .create-event {
        padding: 5px 10px;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        color: white;
        background: #414af2;
      }
    }
  }
}

#events-form {
  width: 90vw;
  margin: 10px auto;

  display: flex;
  flex-direction: column;
  gap: 10px;

  .eventik {
    cursor: pointer;
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    background: white;

    .eventik-img {
      max-width: 100%;
    }

    .eventik-title {
      margin-top: 20px;
      line-height: 28px;
      font-size: 24px;
      font-weight: bold;
    }

    .eventik-shd {
      margin-top: 5px;
      font-weight: normal;
    }

    .eventik-split {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      p {
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .events-org {
    .title {
      .palka {
        width: 100%;
      }
      .title1 {
        width: 90%;
        margin: 0 auto;
        p {
          font-size: 36px;
          font-weight: 600;
        }

        .create-event {
          font-size: 24px;
          font-weight: 600;
          padding: 10px 50px;
        }
      }
    }
  }

  #events-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
  }
}
