#header {
  width: 90vw;
  background: white;
  box-shadow: 0px 4px 64px -8px rgba(188, 154, 154, 0.25);

  margin: 50px auto;
  padding: 15px 50px;

  align-items: center;
  display: flex;
  justify-content: space-between;

  border-radius: 20px;

  .header-name {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -4%;
  }

  .header-nav {
    display: flex;
    gap: 50px;
    justify-content: space-between;

    .header-link {
      cursor: pointer;
      font-weight: 400;
      font-size: 24px;
      padding: 5px;
      border-radius: 10px;
    }

    .header-link:hover {
      background: #0000000e;
      transition: 0.2s all ease-in-out;
    }
  }

  .header-login {
    background: none;
    font-size: 24px;
    border: none;
  }

  .isEnter {
    display: flex;
    gap: 10px;
    align-items: baseline;

    .exit {
      font-size: 24px;
      font-weight: 200;
    }
  }
}
